
<html>
<head>
  <title>Potluck Peeps</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link href="https://fonts.googleapis.com/css?family=Ultra" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="container-fluid ">

      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h3 class=" my-0  mr-md-auto font-weight-normal PotluckPeeps">PotLuck Peeps</h3>
        <nav class="my-2 my-md-0 ">
          
          <ul class="nav nav-pills float-right">
            {{#if user}}
              <li class="nav-item">

                <a class="nav-link button  mr-md-3" href="/dashbord/dashbord">Dashboard <span class="sr-only">(current)</span></a>

              </li>
              <li class="nav-item">
                <a class="nav-link navLink btn" href="/users/logout">Log Out</a>
              </li>
            {{else}}
              <li class="nav-item">
                <a class="nav-link button mr-md-3 " href="/users/login">Log In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navLink btn " href="/users/register">Sign Up</a>
              </li>
            {{/if}}
          </ul>
        </nav>
      </div>
      {{#if user}}
      {{else}}
        <div class="jumbotron">
        
          <div class="jumbotrontext">
            <h1 class="jumbotronh1">POTLUCK PEEPS</h1>
            <p class="lead">Enjoy friends, food, and good times!</p>
            <p><a class="btn jumbotronbtn button" href="/users/register" role="button">Join today</a></p>
          </div>
        </div>

      {{/if}}

      <div class="row marketing">
        <div class=" clear col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}

          {{{body}}} 
        </div>
      </div>

      <footer class=" footer bg-white">
        <p class=" my-0  mr-md-auto font-weight-normal ">&copy; POTLUCK PEEPS 2017</p>
      </footer>

    </div> 
    <script type="text/javascript" src="/js/dashbord.js"></script>
    <script type="text/javascript" src="/js/showPotLucks.js"></script>
    <script type="text/javascript" src="/js/potLuckFood.js"></script>
    <script type="text/javascript" src="/js/potLuckFood.js"></script>


    <script type="text/javascript" src="/js/foodInfo.js"></script>

</body>
</html>